{% extends "templates/base.html" %}
{% block content %}
<p>自己的邀請函自己寄，<a href="https://phptw.slack.com/">PHP Taiwan 的 slack 群組</a>開放申請中！</p>

{% if not fresh %}
{% if not valid %}
<div class="error">
  <span>{{errors.email}}</span>
</div>
{% else %}
<div class="success">
  <span>邀請函馬上寄出！請稍候片刻</span>
</div>
{% endif %}
{% endif %}
<form action="/" method="POST">
  <p>
    <strong>Your Email Address</strong>
    <input type="email" name="email" required placeholder="your email here" {% if not valid %} value={{data.email}} {% endif %}>
  </p>
  <div id="invite_submit">
    <input type="submit" value="Invite Yoself!">
  </div>
</form>
{% endblock %}
